# Android / Gradle
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
build/

# Keystore / secrets
*.jks
*.keystore

# Misc
*.log

release.keystore
local.properties
